body{
    overflow: hidden;
}



.progress-bar {
    appearance: none; 
    -webkit-appearance: none; 
    background-color:ghostwhite; 
    border-radius: 0.5rem;
    overflow: hidden; 
  }
  
  
  .progress-bar::-webkit-progress-value {
    background-color: #3b82f6; 
  }
  
  
  .progress-bar::-moz-progress-bar {
    background-color: #3b82f6; 
  }
  